html,
body {
  height: 100vh;
  background-color: papayawhip;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: cornflowerblue;
}

.outerWrapper {
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.topContainer {
  text-align: center;
  padding: 90px 40px 60px 40px;
}

.frameContainer {
  font-size: 100px;
  min-height: 40%;
}

.middleContainer {
  width: 80%;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  color: cornflowerblue;
  border-top: 1px solid cornflowerblue;
  border-bottom: 1px solid cornflowerblue;
}

.middleContainer h1 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 0;
}

.middleContainer ul {
  list-style: none;
  padding: 0;
  min-width: 300px;
}

.middleContainer li {
  line-height: 1.4;
  font-size: 14px;
  text-align: center;
}

.bottomContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin: 30px 0;
  position: relative;
  bottom: 0;
}

.contactBox {
  font-size: 18px;
}

.quote {
  margin-top: 15px;
  font-size: 14px;
}

@media only screen and (max-width: 575px) {
  .bottomContainer {
    position: relative;
    bottom: 0;
  }

  .topContainer {
    padding: 50px 40px 60px 40px;
  }

  .contactBox {
    padding: 10px 10px;
    font-size: 0px;
  }

  .frameContainer {
    font-size: 32px;
  }

  .middleContainer {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .middleContainer h1 {
    font-size: 24px;
    margin-bottom: 0;
  }

  .middleContainer ul {
    width: 100%;
    margin-top: 5px;
  }

  .middleContainer ul li {
    font-size: 14px;
    line-height: 1.4;
  }

  .quote {
    margin-top: 5px;
    font-size: 10px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  .contactBox {
    padding: 10px 40px;
    font-size: 8px;
  }

  .frameContainer {
    font-size: 68px;
  }

  .quote {
    margin-top: 5px;
    font-size: 12px;
  }
}

@media only screen and (min-width: 768px) {
  .contactBox {
    padding: 20px 40px;
    font-size: 12px;
  }

  .frameContainer {
    font-size: 100px;
  }
}
